brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click==7.1.2
cryptography
filelock
idna
joblib
numpy
packaging
pycparser
pyOpenSSL
pyparsing==2.4.7
PySocks
regex
requests
sacremoses
six
tokenizers
tqdm
transformers
urllib3
uvicorn
starlette
torch
torchvision
torchaudio